 .App {
  box-sizing: border-box;
  position: relative;
  background-image: url('https://drpma142ptgxf.cloudfront.net/assets/logo.svg');
  z-index:50;
  background-repeat: no-repeat;
  top:0;
  bottom:0;
  right:0;
  background-attachment: fixed;
  background-position: center;
} 






